* {
    margin: 0 auto;
    padding: 7px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;

}

body {
    background-color:rgb(255, 226, 220);
    color: rgb(113, 63, 55);
}

.main-container {
    text-align: center;
    width: 100%;
    padding: 14px 0;
}

.timer {
    display: inline-block;
    padding: 14px;
    width: 700px;
    box-sizing: border-box;
}

main {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    background: rgb(248, 240, 240);
}

h1 {
    font-size:xx-large;
    margin: 24px auto;
}

.button-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 2 rem 0;
    text-align: center;
    border-radius: 50%;
    background:rgb(255, 226, 220);
    box-shadow: 24px 24px 42px rgb(145, 94, 116), -20px -20px 42px rgb(255, 226, 220);
}

.pomodoro::before{
    content: "";
    position: absolute;
    border: 21px solid rgb(200, 127, 159);
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.containter, .timer, h1 {
    font-size: 3rem;
    margin: 24px auto;
}

.timer {
    font-size: 7rem !important;
    margin: 21px auto;
}

.button-container {
    margin-top: 24px;
    display: flex;
    justify-content: center; 
}

.button {
    background-color:rgb(248, 240, 240);
    color:rgb(113, 63, 55);
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.button.active, .button:hover {
    background-color:rgb(217, 162, 162);
}

.hidden {
    display: block;
}

.timer-display {
    font-size: 7rem;
    margin-top: 24px;
    font-weight: bold;
}

.buttons {
    margin-top: 24px;
}

#start, #stop {
    background-color:rgb(248, 240, 240);
    border-radius: 24px;
    border: none;
    padding: 14px 28px;
    margin: 14px;
    transition: all .3s ease-in;
}

#stop:hover {
    background-color: rgb(145, 94, 116);
}

#start:hover {
    background-color: rgb(145, 94, 116);
}

#timer-message {
    color:rgb(113, 63, 55);
    background-color: red;
    display: none;
    padding: 7px;
    font-size: 2rem;
    text-align: center;
    border-radius: 24px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .container {
        transform: scale(0.7)
    }

    .timer{
        width: 54px;
    }
}